{% include base_path %}

{% assign gallery = include.images | default: empty %}

{% if gallery.size == 2 %}
  {% assign gallery_layout = 'half' %}
{% elsif gallery.size >= 3 %}
  {% assign gallery_layout = 'third' %}
{% else %}
  {% assign gallery_layout = '' %}
{% endif %}

<div class="photo-gallery photo-gallery--{{ gallery_layout }}">
  {% for img in gallery %}
    <figure class="photo-gallery__item">
      {% assign image_path = img.image_path | default: "" %}
      {% assign image_first = image_path | slice: 0, 1 %}
      {% if img.url %}
        {% assign link_path = img.url | default: "" %}
        {% assign link_first = link_path | slice: 0, 1 %}
        <a href=
          {% if link_path contains "://" %}
            "{{ link_path }}"
          {% elsif link_first == "/" %}
            "{{ link_path | prepend: base_path }}"
          {% else %}
            "{{ link_path | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          {% if img.title %}title="{{ img.title }}"{% endif %}
        >
          <img src=
            {% if image_path contains "://" %}
              "{{ image_path }}"
            {% elsif image_first == "/" %}
              "{{ image_path | prepend: base_path }}"
            {% else %}
              "{{ image_path | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
            alt="{% if img.alt %}{{ img.alt }}{% endif %}">
        </a>
      {% else %}
        <img src=
          {% if image_path contains "://" %}
            "{{ image_path }}"
          {% elsif image_first == "/" %}
            "{{ image_path | prepend: base_path }}"
          {% else %}
            "{{ image_path | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{% if img.alt %}{{ img.alt }}{% endif %}">
      {% endif %}
      {% if img.caption %}
        <figcaption class="photo-gallery__caption">{{ img.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
      {% endif %}
    </figure>
  {% endfor %}
</div>
